html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	-webkit-text-size-adjust: none
}
mark {
	background-color: transparent;
	color: inherit
}
input::-moz-focus-inner {
	border: 0;
	padding: 0
}
input[type="text"],
input[type="email"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.0;
	word-wrap: break-word;
	overflow-x: hidden;
	background-color: #121212;
}
strong {
	color: inherit;
	font-weight: bolder;
}
em {
	font-style: italic;
}
code {
	font-family: 'Lucida Console', 'Courier New', 'monospace';
	font-weight: normal;
	text-indent: 0;
	letter-spacing: 0;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(144, 144, 144, 0.25);
	border-radius: 0.25em;
}
mark {
	background-color: rgba(144, 144, 144, 0.25);
}
a {
	-moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	color: inherit;
	text-decoration: underline;
}
s {
	text-decoration: line-through;
}
html {
	font-size: 18pt;
}
#wrapper {
	-webkit-overflow-scrolling: touch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
#main {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	text-align: center;
}
#main > .inner {
	position: relative;
	z-index: 1;
	border-radius: inherit;
	padding: 3rem 3rem;
	max-width: 100%;
	width: 40rem;
}
#main > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}
#main > .inner >:first-child {
	margin-top: 0 !important;
}
#main > .inner >:last-child {
	margin-bottom: 0 !important;
}
#main > .inner > .full {
	margin-left: calc(-3rem);
	width: calc(100% + 6rem + 0.4725px);
	max-width: calc(100% + 6rem + 0.4725px);
}
#main > .inner > .full:first-child {
	margin-top: -3rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
#main > .inner > .full:last-child {
	margin-bottom: -3rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
#main > .inner > .full.screen {
	width: 100vw;
	max-width: 100vw;
	position: relative;
	border-radius: 0 !important;
	left: 50%;
	right: auto;
	margin-left: -50vw;
}
h1 br + br,
h2 br + br,
h3 br + br,
p br + br {
	display: block;
	content: ' ';
	margin-top: 0.6rem;
}
h1 .li,
h2 .li,
h3 .li,
p .li {
	display: list-item;
	padding-left: 0.5em;
	margin: 0.75em 0 0 1em;
}
#wordmark br + br {
	margin-top: 0.9rem;
}
#wordmark {
	font-family: 'Spectral', 'serif';
	font-size: 2.875em;
	line-height: 1.5;
}
#tagline br + br {
	margin-top: 0.45rem;
}
#tagline {
	font-family: 'Quicksand', 'sans-serif';
	font-size: 1.5em;
	line-height: 0.75;
	font-weight: 300;
}
h1,
h2,
h3,
p {
	color: #FFFFFF;
	font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 7em;
	line-height: 1;
	font-weight: 400;
}
form .inner {
	display: -moz-inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flex;
	display: inline-flex;
	max-width: 100%;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
form input[type="text"],
form input[type="email"],
form textarea,
form select {
	text-align: left;
	display: block;
	background-color: transparent;
	border: 0;
	width: 100%;
	outline: 0;
}
form textarea {
	height: 10rem;
}
form select {
	background-size: 1rem;
	background-repeat: no-repeat;
	text-overflow: ellipsis;
	-webkit-appearance: none;
}
form select option {
	background-color: white;
	color: black;
}
form select::-ms-expand {
	display: none;
}
form input[type="checkbox"] {
	-webkit-appearance: none;
	display: block;
	float: left;
	margin-right: -2rem;
	opacity: 0;
	width: 1rem;
	z-index: -1;
}
form input[type="checkbox"] + label {
	display: -moz-inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flex;
	display: inline-flex;
	text-align: left;
	line-height: 1.6;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
form input[type="checkbox"] + label:before {
	content: '';
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	cursor: pointer;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
}
form .actions {
	max-width: 100%;
}
form button {
	display: inline-block;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	text-align: center;
	max-width: 100%;
	white-space: nowrap;
	-moz-transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-webkit-transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-ms-transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	transition: opacity 0.35s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}
form button:disabled {
	opacity: 0.35;
	cursor: default;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}
@-moz-keyframes button-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes button-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-ms-keyframes button-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes button-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
#sub {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}
#sub .inner > * {
	margin: 1.25rem 0 0 0;
	margin: 0 0 0 1.25rem;
}
#sub .inner >:first-child {
	margin: 0;
	margin: 0;
}
#sub .inner {
	width: 20rem;
	-moz-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
#sub input[type="text"],
#sub input[type="email"],
#sub textarea,
#sub select,
#sub label {
	font-size: 1.25em;
	font-family: 'Inconsolata', 'monospace';
	font-weight: 400;
	border-radius: 0.25rem;
}
#sub input[type="text"],
#sub input[type="email"],
#sub textarea,
#sub select {
	color: rgba(255, 255, 255, 0.788);
	border: solid 1px #FFFFFF;
}
#sub label {
	color: rgba(255, 255, 255, 0.788);
}
#sub input[type="text"],
#sub input[type="email"],
#sub select {
	height: 2.625rem;
	line-height: 2.625rem;
	padding: 0 0.91875rem;
}
#sub textarea {
	padding: 0.91875rem;
	height: 8rem;
}
#sub select {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='504' height='552' preserveAspectRatio='none' viewBox='0 0 504 552'%3E%3Cpath d='M483.9,210.9L252,442.9L20.1,210.9l67.9-67.9L252,307.1l164.1-164.1L483.9,210.9z' fill='%23FFFFFF' /%3E%3C/svg%3E");
	background-position: calc(100% - 0.91875rem) center;
	padding-right: 2.71875rem;
}
#sub input[type="checkbox"] + label:before {
	border-radius: 0.25rem;
	color: rgba(255, 255, 255, 0.788);
	border: solid 1px #FFFFFF;
	width: 1.96875rem;
	height: 1.96875rem;
	margin-right: 0.984375rem;
	background-size: 1.115625rem;
}
#sub input[type="checkbox"]:checked + label:before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='648' height='552' preserveAspectRatio='none' viewBox='0 0 648 552'%3E%3Cpath d='M225.3,517.7L2.1,293.1l68.1-67.7L226,382.3L578.1,35.6l67.4,68.4L225.3,517.7z' fill='rgba(255,255,255,0.788)' /%3E%3C/svg%3E");
}
#sub button {
	height: 2.625rem;
	line-height: 2.625rem;
	padding: 0 1.3125rem;
	font-size: 1.25em;
	font-family: 'Quicksand', 'sans-serif';
	font-weight: 400;
	border-radius: 0.375rem;
	background-color: #0080FF;
	color: #FFFFFF;
	position: relative;
}
#sub .inner .field {
	width: 100%;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
}
#sub .inner .actions {
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
}
#sub button:before {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	content: '';
	display: block;
	width: 1.96875rem;
	height: 1.96875rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.984375rem 0 0 -0.984375rem;
	-moz-animation: button-spinner 1s infinite linear;
	-webkit-animation: button-spinner 1s infinite linear;
	-ms-animation: button-spinner 1s infinite linear;
	animation: button-spinner 1s infinite linear;
	-moz-transition: opacity 0.25s ease;
	-webkit-transition: opacity 0.25s ease;
	-ms-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
	-moz-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
	opacity: 0;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNGRkZGRkY7IHN0cm9rZS13aWR0aDogMnB4OyB9PC9zdHlsZT48ZGVmcz48Y2xpcFBhdGggaWQ9ImNvcm5lciI+PHBvbHlnb24gcG9pbnRzPSIwLDAgNDgsMCA0OCw0OCA5Niw0OCA5Niw5NiAwLDk2IiAvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjb3JuZXIpIj48Y2lyY2xlIGN4PSI0OCIgY3k9IjQ4IiByPSIzMiIvPjwvZz48L3N2Zz4=');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.96875rem;
}
#sub button.waiting {
	color: transparent;
}
#sub button.waiting:before {
	opacity: 1.0;
	-moz-transition-delay: 0.125s;
	-webkit-transition-delay: 0.125s;
	-ms-transition-delay: 0.125s;
	transition-delay: 0.125s;
}
#sub input[name="post"] {
	display: none;
}
#sub::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.788);
	opacity: 0.55;
}
#sub:-moz-placeholder {
	color: rgba(255, 255, 255, 0.788);
	opacity: 0.55;
}
#sub::-moz-placeholder {
	color: rgba(255, 255, 255, 0.788);
	opacity: 0.55;
}
#sub:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.788);
	opacity: 0.55;
}
@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}
@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
}
@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}
@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}
	#main > .inner {
		padding: 3rem 2rem;
	}
	#main > .inner > * {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	#main > .inner > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}
	#main > .inner > .full:first-child {
		margin-top: -3rem !important;
	}
	#main > .inner > .full:last-child {
		margin-bottom: -3rem !important;
	}
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	#logo {
		font-size: 3.5em;
	}
	#sub {
		margin-top: 1.5rem !important;
		margin-bottom: 1.5rem !important;
	}
	#sub .inner {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#sub .inner .field {
		-moz-flex-grow: 0;
		-webkit-flex-grow: 0;
		-ms-flex-grow: 0;
		flex-grow: 0;
	}
	#sub .inner > * {
		margin: 1.25rem 0 0 0;
	}
	#sub .inner >:first-child {
		margin: 0;
	}
}
@media (max-width: 480px) {
	#main > .inner > * {
		margin-top: 0.65625rem;
		margin-bottom: 0.65625rem;
	}
	#sub button {
		width: 100%;
		max-width: 32rem;
	}
}
@media (max-width: 360px) {
	#main > .inner {
		padding: 2.25rem 1.5rem;
	}
	#main > .inner > * {
		margin-top: 0.5625rem;
		margin-bottom: 0.5625rem;
	}
	#main > .inner > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}
	#main > .inner > .full:first-child {
		margin-top: -2.25rem !important;
	}
	#main > .inner > .full:last-child {
		margin-bottom: -2.25rem !important;
	}
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	#wordmark {
		font-size: 2em;
	}
}
